.DD-department-list {
  margin-top: 20px;
  max-height: 300px;
}

.DD-table {
  border-collapse: collapse;
  width: 55vw;
  height: 50vh;
}

.DD-table-head th,
.DD-table tbody tr td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.DD-table-head th {
  background-color: rgba(20, 20, 20, 0.897);
  font-weight: bold;
  color: white;
}

.DD-addDept-btn {
  border: 1px solid white;
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #0f0925;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.DD-addDept-btn:hover {
  background-color: #da252575;
}

.add-dept-btn {
  color: #ffffff;
  text-decoration: none;
}

.DD-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.DD-table tbody tr:nth-child(even) {
  background-color: #f9f9f962;
}

.DD-table tbody tr:hover {
  background-color: #8a778dab;
}

.DD-table tbody tr td button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  width: 10%;
}

.DD-table tbody tr:nth-child(even) td button:nth-child(odd) {
  background-color: #fffdfd00;
  border: 1px solid black;
}
.DD-table tbody tr:nth-child(odd) td button:nth-child(odd) {
  background-color: #8a858527;
  border: 1px solid black;
}

.DD-table tbody tr:nth-child(odd) td button:nth-child(even) {
  background-color: #473aa5d8;
}

.DD-table-head {
  top: 0;
  z-index: 1;
  background-color: #f2f2f2;
}
